@import '~@/index.less';

.app-layout-header {
  .box-shadow(0 0 10px, rgba(@background-color-black, 10%));
  .logo {
    background-color: @color-app-primary;
  }
  .title {
    font-size: @font-size-20;
  }
  .headerright {
    .user {
      .avatar {
        border-radius: 100%;
      }
      &:hover {
        cursor: pointer;
        background-color: @user-hover;
      }
    }
    .name {
      font-size: @font-size-16;
    }
    // .settingButton {
    //   font-size: @font-size-24;
    //   transition: all 0.3s, padding 0s;
    //   position: fixed;
    //   top: 240px;
    //   // background: @primary-color;
    //   width: 48px;
    //   height: 48px;
    //   right: 300px;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   cursor: pointer;
    //   pointer-events: auto;
    //   z-index: 0;
    //   text-align: center;
    //   // font-size: 16px;
    //   border-radius: 4px 0 0 4px;
    //   &:hover {
    //     background-color: @setting-background;
    //   }
    // }
    .detailButton {
      font-size: @font-size-24;
      transition: all 0.3s, padding 0s;
      &:hover {
        background-color: @user-hover;
      }
    }
  }
}
