@import '~@/index.less';

.app-layout-header-drawer {
  font-size: @font-size-15;
  .top {
    padding-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .mid {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .bottomText {
    padding: 8px 15px;
    border: 1px solid #ffe58f;
    background-color: #fffbe6;
  }
  .bi-img {
    cursor: pointer;
  }
  .darkstyle {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/LCkqqYNmvBEbokSDscrm.svg');
  }
  .lightstyle {
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/jpRkZQMyYRryryPNtyIC.svg');
  }
}
